<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vocabulary Card</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<div class="title-container">
	<img alt="icon" th:src="@{/images/favicon.png}" id="logo">
		<span class="title white">Vocabulary Card</span> <span class="login">
			<a th:href="@{/login}" class="indexButton pointer">ログイン</a> <a
			th:href="@{/regist}" class="indexButton pointer">新規登録</a>
		</span>
		<div class="titleText">
			<div><span class="orange">Vocabulary Card</span> は、単語帳を作成、テストをすることができるWebアプリです。</div>
			<img alt="screen" th:src="@{/images/screen.png}" id="screen">
		</div>
	</div>
	<div class="copyright">© 2021 KMTS</div>
	<script type="text/javascript">
	</script>
</body>
</html>