<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>Vocabulary Card</title>
</head>
<body>
	<div class="formTitle">Vocabulary Card</div>
		<div th:if="${msg!=null}" class="message">
			<div th:if="${msg.msgType=='E'}" class="error marginAuto">
				<span class="icon E">×</span> <span th:text="${msg.msgText}"></span>
			</div>
			<div th:if="${msg.msgType=='I'}" class="information marginAuto">
				<span class="icon I">i</span> <span th:text="${msg.msgText}"></span>
			</div>
	</div>
		<form th:action="@{/login/do}" method="post" th:object="${loginData}">
			<table class="loginForm">
				<tr>
					<td><input type="password" name="loginId"
						th:value="*{loginId}" class="loginInput" placeholder="ログインID">
						<div th:if="${#fields.hasErrors('loginId')}"
							th:errors="*{loginId}"></div></td>
				</tr>
				<tr>
					<td><input type="password" name="password"
						th:value="*{password}" class="loginInput" placeholder="パスワード">
						<div th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></div></td>
				</tr>
			</table>
			<button type="submit" class="indexButton loginButton pointer">ログイン</button>
		</form>
</body>
</html>