<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vocabulary Card</title>
<link href="https://unpkg.com/sanitize.css" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<header>
		<h1 class="title-container">
			<a th:href="@{/vocabularyCard}" class="title">Vocabulary Card</a>
		</h1>
	</header>

	<div id="operation-container" class="menuBorder">
		<h3 class="pointer">カード、タグの作成</h3>
		<h3 class="pointer">タグの追加</h3>
		<h3 class="pointer">カード、タグの削除</h3>
		<h3 class="pointer">カードの検索</h3>
		<h3 class="pointer">テスト機能</h3>
		<a th:href="@{/vocabularyCard}">⇦戻る</a>
	</div>

	<div id="gifDisplay">
		<div id="createGif" class="gifSpace displayNone">
			<ul>
				<li><span class="bold">カードの作成:</span> カード作成用のフォームを記入、「カード作成」をクリック</li>
				<li><span class="bold">タグの作成:</span> タグ作成用のフォームを記入、「タグ作成」をクリック</li>
			</ul>
			<div class="img-container">
				<img alt="create" th:src="@{/images/create.gif}" class="gif freezeframe pointer">
			</div>
		</div>
		<div id="addTagGif" class="gifSpace displayNone">
			<ol>
				<li><span class="bold">1.</span>タグを長押ししたまま、マウス/指をカードの場所まで移動させる</li>
				<li><span class="bold">2.</span>カードの場所で指を離す</li>
			</ol>
			<div class="img-container">
				<img alt="addTag" th:src="@{/images/addTag.gif}" class="gif freezeframe pointer">
			</div>
		</div>
		<div id="deleteGif" class="gifSpace displayNone">
			<ol>
				<li><span class="bold">1.</span>カード、タグの左にあるチェックボックスをクリック</li>
				<li><span class="bold">2.</span>menu の「チェックした項目を削除」をクリック</li>
			</ol>
			<div class="img-container">
				<img alt="delete" th:src="@{/images/delete.gif}" class="gif freezeframe pointer">
			</div>
		</div>
		<div id="searchGif" class="gifSpace displayNone">
			<ul>
				<li><span class="bold">キーワード検索:</span> 検索フォームにキーワードを入力、「検索」をクリック</li>
				<li><span class="bold">タグから検索:</span> タグをクリック</li>
			</ul>
			<div class="img-container">
				<img alt="search" th:src="@{/images/search.gif}" class="gif freezeframe pointer">
			</div>
		</div>
		<div id="testGif" class="gifSpace displayNone">
			<ul>
				<li><span class="bold">テストに切り替える:</span> menu の L1/L2ボタンをクリック</li>
				<li><span class="bold">答え合わせ:</span> ⇔ボタンを押す。間違えたスペルは赤で表示される</li>
				<li><span class="bold">ヒントの表示:</span> hint ボタンを押すと1文字目のスペルが表示される</li>
			</ul>
			<div class="img-container">
				<img alt="test" th:src="@{/images/test.gif}" class="gif freezeframe pointer">
			</div>
		</div>
	</div>

	<script>
		'use strict'
		var current = -1;
		$("h3").on("click", function() {
			var index = $("h3").index(this);
			if(current==index)return;
			$(".gifSpace").eq(current).addClass("displayNone");
			$(".gifSpace").eq(index).removeClass("displayNone");
			current=index;
			console.log(index);
		})
	</script>
</body>
</html>