<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vocabulary Card</title>
<link href="https://unpkg.com/sanitize.css" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="float-container menuBorder munu">
		<h3>カードの検索</h3>
		<img alt="search" th:src="@{/images/search.gif}" class="gif">
		<ul>
			<li>検索フォームから</li>

			<li>タグから</li>
		</ul>
		<h3>追加/削除</h3>
		<img alt="createCard" th:src="@{/images/createCard.gif}" class="gif">
		<img alt="createCard" th:src="@{/images/createTag.gif}" class="gif">
		<ul>
			<li>カードの追加</li>
			<li>タグの追加</li>
			<li>タグの表示</li>
			<li>カード、タグの削除</li>
		</ul>
		<h3>テスト機能</h3>
		<img alt="test" th:src="@{/images/test.gif}" class="gif">
		<ul>
			<li>フラッシュカードの切り替え</li>
			<li>スペリングテスト</li>
			<li>回答欄の表示、答え合わせ</li>
			<li>ヒントの表示</li>
		</ul>
	</div>

	<div id="screen">



	</div>

</body>
</html>