<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vocabulary Card</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<div class="formTitle">Vocabulary Card</div>
	<div th:if="${msg!=null}">
		<div th:if="${msg.msgType=='E'}" class="error marginAuto">
			<span class="icon E">×</span> <span th:text="${msg.msgText}"
				class="errorMsg"></span>
		</div>
		<div th:if="${msg.msgType=='I'}" class="information marginAuto">
			<span class="icon I">×</span> <span th:text="${msg.msgText}"
				class="errorMsg"></span>
		</div>
	</div>
	<div class="login">
		<form th:action="@{/regist/do}" th:object="${registData}"
			method="post">
			<table class="loginForm">
				<tr>
					<td><input type="password" name="loginId"
						th:value="*{loginId}" class="loginInput" placeholder="ログインID">

						<div th:if="${#fields.hasErrors('loginId')}"
							th:errors="*{loginId}" class="errorMsg"></div></td>
				</tr>
				<tr>
					<td><input type="password" name="password"
						th:value="*{password}" class="loginInput" placeholder="パスワード">
						<div th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" class="errorMsg"></div></td>
				</tr>
				<tr>
					<td><input type="password" name="passwordForCheck"
						th:value="*{passwordForCheck}" class="loginInput" placeholder="パスワード(確認用)">
						<div th:if="${#fields.hasErrors('passwordForCheck')}"
						th:errors="*{passwordForCheck}" class="errorMsg"></div></td>
					</tr>
				</table>
				<button class="indexButton loginButton pointer" id="create" disabled="true">アカウント作成</button>
				<p class="center">利用規約に同意する<input type="checkbox" id="agreement"></p>

			</form>
			<p class="terms pointer center">利用規約</p>
			<div id="termsOfService" class="displayNone">
				<div id="terms-container">
					<h2>利用規約</h2>
					<p>　この利用規約（以下，「本規約」といいます。）は，当ウェブサイトを利用する上での利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
					<H3>利用登録、ログインIDおよびパスワードの管理</H3>
					<p>　登録希望者が本規約に同意の上でアカウントを登録し，当ウェブサイトがこれを承認することによって，利用登録が完了するものとします。ユーザーは，自己の責任において当ウェブサイトのログインIDおよびパスワードを適切に管理するものとし、ログインIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。</p>
					<H3>禁止事項</H3>
					<p>　ユーザーは，当ウェブサイトの利用にあたり，法令または公序良俗に反する行為、他のユーザーや当ウェブサイトを妨害する行為をしてはなりません。また、当ウェブサイトに含まれる知的財産権を侵害し、当ウェブサイトを商業的に利用してはなりません。
					<H3>本サービスの提供の停止等</H3>
					<p>　当ウェブサイトは、ウェブサイトの保守や更新、災害などの事由により、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断する場合があります。</p>
					<H3>利用制限および登録抹消</H3>
					<p>　当ウェブサイトは，ユーザーが不適切な利用を行った場合、または当ウェブサイトの最終の利用から一定期間利用がなかった場合に、事前の通知なく当ウェブサイトの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。当ウェブサイトは，本条に基づき当ウェブサイトが行った行為によりユーザーに生じた損害について、一切の責任を負いません。
					<H3>保証の否認および免責事項</H3>
					<p>　当ウェブサイトは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。当ウェブサイトは本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。</p>
					<H3>利用規約の変更</H3>
					<p>　本規約はユーザーに予告なく変更されることがあります。</p>

					以上
				</div>
		</div>
	</div>
	<script>
	'use strict'
	const agreement=document.getElementById("agreement");
	const create=document.getElementById("create");
	agreement.addEventListener("change",(event)=>{
		if(agreement.checked==true){
			create.disabled=false;
		}else{
			create.disabled=true;
		}
	});
	$(".terms").on("click",function(){
		$("#termsOfService").toggleClass("displayNone");
	})
	</script>
</body>
</html>