<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vocabulary Card</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>

	<header>
		<h1><a th:href="@{/vocabularyCard}" class="title">Vocabulary Card</a></h1>
	</header>

	<div class="container">
		<div class="float-container">
			<div class="menu">
				<!-- 操作メッセージ -->
				<div th:if="${msg!=null}" class="message">
					<div th:if="${msg.msgType=='E'}" class="error">
						<span class="icon E">×</span> <span th:text="${msg.msgText}"></span>
					</div>
					<div th:if="${msg.msgType=='W'}" class="warnning">
						<span class="icon W">!</span><span th:text="${msg.msgText}"></span>
					</div>
					<div th:if="${msg.msgType=='I'}" class="information">
						<span class="icon I">i</span> <span th:text="${msg.msgText}"></span>
					</div>
				</div>

				<p><a th:href="@{/logout}">ログアウト</a></p>

				<p><a th:href="@{/vocabularyCard/spellingTest}">テストへ移動</a></p>

				<table class="flashCardButton">
					<tr>
						<td class="label" id="flashL1">L1</td>
					</tr>
					<tr>
						<td class="separator"></td>
					</tr>
					<tr>
						<td class="label" id="flashL2">L2</td>
					</tr>
				</table>

				<!-- 検索form -->
				<form th:action="@{/vocabularyCard/search}" method="post"
					id="search" th:object="${vocabularyCardQuery}">
					<div class="form frameBorder">
						<input type="text" th:value="*{searchSpelling}"
							name="searchSpelling" class="searchForm menuInput" maxlength="50"
							placeholder="LANGUAGE1"> <input type="text"
							th:value="*{searchMeaning}" name="searchMeaning"
							class="searchForm menuInput" maxlength="50" placeholder="LANGUAGE2">
						<button id="doSearch">検索</button>
					</div>
				</form>

				<!-- 追加用form -->
				<form th:action="@{/vocabularyCard/create}" method="post"
					th:object="${vocabularyCardData}" class="form">
					<div class="frameBorder">
						<p class="label">LANGUAGE1</p>
						<input type="text" name="spelling1" th:value="*{spelling1}"
							placeholder="word 1(必須)" class="createForm menuInput"
							maxlength="50">
						<div class="error" th:errors="*{spelling1}" th:errorclass="red"></div>
						<input type="text" name="spelling2" th:value="*{spelling2}"
							placeholder="word 2" class="createForm menuInput" max="50">
						<input type="text" name="spelling3" th:value="*{spelling3}"
							placeholder="word 3" class="createForm menuInput"
							maxlength="50">
						<p class="label">LANGUAGE2</p>
						<input type="text" name="meaning1" th:value="*{meaning1}"
							placeholder="word 1" class="createForm menuInput"
							maxlength="50"> <input type="text" name="meaning2"
							th:value="*{meaning2}" placeholder="word 2"
							class="createForm menuInput" maxlength="50"> <input
							type="text" name="meaning3" th:value="*{meaning3}"
							placeholder="word 3" class="createForm menuInput"
							maxlength="50">
						<button type="submit" id="doCreate">カード追加</button>
					</div>
				</form>

				<!-- タグ追加用のform -->
				<form th:action="@{/vocabularyCard/createTag}" method="post"
					th:object="${tagData}" class="form">
					<div class="frameBorder">
						<input type="text" name="name" th:value="*{name}"
							placeholder="tag" class="createTagForm menuInput" maxlength="20">
						<div class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}" th:errorclass="red"></div>
						<button type="submit" id="doCreateTag">タグ追加</button>
					</div>
				</form>


				<!-- 削除ボタン -->
				<button type="submit" form="checkDelete" id="deleteButton">チェックした項目を削除</button>


				<!-- タグ表示及びタグ検索 jsでinputに上書き、各タグボタンをクリック時に送信 -->
				<form method="post" th:action="@{/vocabularyCard/search}"
					th:object="${vocabularyCardQuery}" id="searchTag">
					<input type="hidden" th:value="*{searchTag}" name="searchTag"
						id="tagValue">
				</form>
				<form method="post" th:action="@{/vocabularyCard/delete}"
					id="checkDelete"></form>
				<div th:each="tag:${tagList}">
					<button th:text="${tag.name}" class="tag" draggable="true"
						form="searchTag"></button>
					<input type="checkbox" class="check-delete-tag checkbox"
						name="deletedTagId" th:value="${tag.id}" form="checkDelete">
				</div>

				<!-- ドラッグアンドドロップで使用するカードid、タグ名送信用のフォーム -->
				<form method="post" th:action="@{/vocabularyCard/addTag}"
					id="addTag">
					<input type="hidden" name="cardId" id="addedCard"> <input
						type="hidden" name="draggedTag" id="addedTag">
				</form>

			</div>
		</div>

		<!-- カードの数だけ<div>を生成  タグには検索用フォームと関連付ける-->
			<div th:each="vc:${cardList}" class="card displayNot">
				<section class="tags">
					<button th:if="${vc.tag1!=null && vc.tag1!=''}" type="submit"
						th:text="${vc.tag1}" class="tag" form="searchTag"></button>
					<br>
					<button th:if="${vc.tag2!=null && vc.tag2!=''}" type="submit"
						th:text="${vc.tag2}" class="tag" form="searchTag"></button>
					<br>
					<button th:if="${vc.tag3!=null && vc.tag3!=''}" type="submit"
						th:text="${vc.tag3}" class="tag" form="searchTag"></button>
				</section>

				<section class="wordList">
					<p class="label">L1</p>
					<div th:text="${vc.id}" class="id"></div>
					<div class="hiddenL1">
						<p th:text="${vc.spelling1}" class="word" id="spelling1"></p>
						<p th:text="${vc.spelling2}" class="word" id="spelling2"></p>
						<p th:text="${vc.spelling3}" class="word" id="spelling3"></p>
					</div>
					<p class="label">L2</p>
					<div class="hiddenL2">
						<p th:text="${vc.meaning1}" class="word"></p>
						<p th:text="${vc.meaning2}" class="word"></p>
						<p th:text="${vc.meaning3}" class="word"></p>
					</div>
				</section>
				<div class="check-delete">
					<form th:action="@{/vocabularyCard/__${vc.id}__}" name="edit"
						method="post">
						<button type="submit">編集</button>
					</form>
				    <input type="checkbox" th:value="${vc.id}"
						name="deletedId" class="checkbox" form="checkDelete">
				</div>
				<div class="float-end"></div>
			</div>
			<br>
		</div>
	<footer>
		<ul class="navi">
		</ul>
	</footer>

	<script>
	'use strict';
	//ドラッグアンドドロップ機能
	const tag=document.getElementsByClassName("tag");
	let draggedTag;
	let clickedTag;
	//全タグボタンにドラッグイベントとクリックイベントを設定、タグ名を取得
	for(let i=0;i<tag.length;i++){
	tag[i].addEventListener('dragstart',(event)=>{
		draggedTag=tag[i].textContent;
	});
	tag[i].addEventListener('click',(event)=>{
		//event.preventDefault();
		clickedTag=tag[i].textContent;
		//タグ検索フォームに代入
		document.getElementById('tagValue').value=clickedTag;
	});
	}
	const wordList=document.getElementsByClassName("wordList");
	const idList=document.getElementsByClassName("id");
	let cardId;
	for(let i=0;i<wordList.length;i++){
	wordList[i].addEventListener("dragover",(event)=>{
		event.preventDefault();
	});
	wordList[i].addEventListener("drop",(event)=>{
		event.preventDefault();
		cardId=idList[i].textContent;
		/* spring securityで弾かれるため変更
		let form=document.createElement("form");
		form.method='POST';
		form.action='/vocabularyCard/addTug';
	form.innerHTML='<input name="cardId" value='+cardId+'><input name="draggedTug" value='+draggedTug+'>';
	document.body.append(form);
	form.submit();
	*/
	document.getElementById("addedCard").value=cardId;
	document.getElementById("addedTag").value=draggedTag;
	const form=document.getElementById("addTag");
	form.submit();
	});
	}

	//ページネイション機能
	//cardを配列として取得
	const cardList=document.getElementsByClassName('card');
	console.log(cardList.length);
	var array=Array.prototype.slice.call(cardList);

	const navi=document.querySelector(".navi");
	//全体を表示件数で割り、商の数だけページ番号を作成。
		for(let i=1;i<array.length/50+1;i++){
			const liElement=document.createElement('li');
			liElement.innerHTML='<li class="pageNumber">'+i+'</li>';
			navi.insertAdjacentElement('beforeend',liElement);
		}

	//追加した<li>タグの個数分の配列を作成。
	let pageNumber=document.getElementsByClassName('pageNumber');
	var arrayPage=Array.prototype.slice.call(pageNumber);
	//1ページ目を最初に表示する
	let currentPage=1;
	//カード50個にtoggleを行うメソッドを定義。
	var displayCard=function(currentPage,array){
		for(let i=(currentPage-1)*50;i<((currentPage-1)*50)+50;i++){
		if(i+1>array.length)break;
		array[i].classList.toggle('displayNot');
	}};
	displayCard(currentPage,array);
	//各ページ番号にクリック時のイベントを割り当てる。arrayPage[0]=1であることに注意
	for(let i=0; i<arrayPage.length;i++){
		arrayPage[i].addEventListener("click",(event)=>{
			displayCard(currentPage,array);
			currentPage=(arrayPage[i].textContent);
			displayCard(currentPage,array);
	});
	}

    //input入力内容があった場合にのみボタンをクリックできるようにするメソッド
	function enableClick(button,inputArray){
    	button.disabled=true;
		for(var i=0;i<inputArray.length;i++){
			inputArray[i].addEventListener('input',(event)=>{
				for (var j=0;j<inputArray.length;j++){
					if(inputArray[j].value.trim()!=null&&inputArray[j].value.trim()!==""){
    				button.disabled=false;
    				break;
    				}else{
    					button.disabled=true;
    				}
    			}
    		});
		}
	}
	//検索用フォームに設定
	var searchForm=document.getElementsByClassName('searchForm');
	var searchButton=document.getElementById('doSearch');
	enableClick(searchButton,searchForm);
	//カード追加用フォーム
	var createForm=document.getElementsByClassName('createForm');
	var createButton=document.getElementById('doCreate');
	enableClick(createButton,createForm);
	//タグ追加用フォーム
	var createTagForm=document.getElementsByClassName('createTagForm');
	var createTagButton=document.getElementById('doCreateTag');
	enableClick(createTagButton,createTagForm);

	//チェック時に削除ボタンを押せるようにする
	const checkboxArray=document.getElementsByClassName("checkbox");
	let deleteButton=document.getElementById('deleteButton');
	for(var i=0;i<checkboxArray.length;i++){
		deleteButton.disabled=true;
		checkboxArray[i].addEventListener('change',(event)=>{
			for(var j=0;j<checkboxArray.length;j++){
			if(checkboxArray[j].checked==true){
				deleteButton.disabled=false;
				break;
			}else{
				deleteButton.disabled=true;
			}
			}
		});
	}

	//flashCard機能
	var flashL1=document.getElementById("flashL1");
	var flashL2=document.getElementById("flashL2");
    var L1hidden=document.querySelectorAll(".hiddenL1");
	var L2hidden=document.querySelectorAll(".hiddenL2");
	$("#flashL1").on("click",function(){
		for(i=0;i<L1hidden.length;i++){
		L1hidden[i].classList.toggle('hidden');
	}
	});
	$("#flashL2").on("click",function(){
		for(i=0;i<L2hidden.length;i++){
		L2hidden[i].classList.toggle('hidden');
	}
	});

	</script>
</body>
</html>