<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script type="text/javascript">let v=window.speechSynthesis.getVoices();</script>
<title>Vocabulary Card</title>
<link href="https://unpkg.com/sanitize.css" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<header>
		<h1 class="title-container">
			<a th:href="@{/vocabularyCard}" class="title">Vocabulary Card</a> <img
				alt="menu" th:src="@{/images/menu.png}"
				class="menuForMobile pointer displayNone">
		</h1>
	</header>

	<div class="container">
		<div id="movedTag" class="displayNone tag">movedTag</div>
		<div class="float-container">

			<div class="menu-container menuBorder">
				<!-- スクロールで追従する部分 -->
				<div class="menuTab">
					<div class="operationMenuButton menuButton selected">menu</div>
					<div class="tagMenuButton menuButton unselected pointer">tag</div>
					<div class="logMenuButton menuButton unselected pointer">log</div>
					<div class="float-end"></div>
				</div>
				<div class="guide menu">
					<div class="operationMenu">
						<table class="flashCardButton">
							<tr>
								<td class="label orange pointer" id="L1flash">L1</td>
							</tr>
							<tr>
								<td class="separator"></td>
							</tr>
							<tr>
								<td class="label orange pointer" id="L2flash">L2</td>
							</tr>
						</table>
						<div id="hint" class="gray pointer">hint</div>
						<div id="speech-container" class="form frameBorder">
							<div id="volume-container">
							<img alt="menu" th:src="@{/images/speaker.png}" class="speaker">
								<input type="range" min=0 max=1 step=0.1
									id="volume">
							</div>
							<div id="lang-container">
								<div>読み上げ設定</div>
								<span class="label">L1</span> <select id="lang1">
									<option value="en-US">英語(アメリカ)</option>
									<option value="en-GB">英語(イギリス)</option>
									<option value="zh-CN">簡体字(中国)</option>
									<option value="zh-HK">繁体字(香港)</option>
									<option value="zh-TW">繁体字(台湾)</option>
									<option value="ko-KR">韓国語</option>
									<option value="de-DE">ドイツ語</option>
									<option value="es-ES">スペイン語</option>
									<option value="fr-FR">フランス語</option>
									<option value="hi-IN">ヒンディー語</option>
									<option value="id-ID">インドネシア語</option>
									<option value="it-IT">イタリア語</option>
									<option value="nl-NL">オランダ語</option>
									<option value="pl-PL">ポーランド語</option>
									<option value="pt-BR">ポルトガル語</option>
									<option value="ru-RU">ロシア語</option>
									<option value="jp-JP">日本語</option>
								</select> <br> <span class="label">L2</span> <select id="lang2">
									<option value="en-US">英語(アメリカ)</option>
									<option value="en-GB">英語(イギリス)</option>
									<option value="zh-CN">簡体字(中国)</option>
									<option value="zh-HK">繁体字(香港)</option>
									<option value="zh-TW">繁体字(台湾)</option>
									<option value="ko-KR">韓国語</option>
									<option value="de-DE">ドイツ語</option>
									<option value="es-ES">スペイン語</option>
									<option value="fr-FR">フランス語</option>
									<option value="hi-IN">ヒンディー語</option>
									<option value="id-ID">インドネシア語</option>
									<option value="it-IT">イタリア語</option>
									<option value="nl-NL">オランダ語</option>
									<option value="pl-PL">ポーランド語</option>
									<option value="pt-BR">ポルトガル語</option>
									<option value="ru-RU">ロシア語</option>
									<option value="ja-JP">日本語</option>
								</select> <br> <span class="label">voice</span> <select id="voiceSelect">
								</select>
							</div>
						</div>

						<!-- 検索form -->
						<form th:action="@{/vocabularyCard/search}" method="post"
							id="search" th:object="${vocabularyCardQuery}">
							<div class="form frameBorder">
								<input type="text" th:value="*{searchSpelling}"
									name="searchSpelling" class="searchForm menuInput"
									maxlength="50" placeholder="LANGUAGE1" autocomplete="off"> <input
									type="text" th:value="*{searchMeaning}" name="searchMeaning"
									class="searchForm menuInput" maxlength="50"
									placeholder="LANGUAGE2" autocomplete="off">
								<button id="doSearch" class="reset submitButton">検索</button>
							</div>
						</form>
						<!-- 追加用form -->
						<form th:action="@{/vocabularyCard/create}" method="post"
							th:object="${vocabularyCardData}" class="form" id="create">
							<div class="frameBorder">
								<p class="label">LANGUAGE1</p>
								<input type="text" name="spelling1" th:value="*{spelling1}"
									placeholder="word 1(必須)" class="createForm menuInput"
									maxlength="50" autocomplete="off">
								<div class="error" th:errors="*{spelling1}" th:errorclass="red"></div>
								<input type="text" name="spelling2" th:value="*{spelling2}"
									placeholder="word 2" class="createForm menuInput" max="50" autocomplete="off">
								<input type="text" name="spelling3" th:value="*{spelling3}"
									placeholder="word 3" class="createForm menuInput"
									maxlength="50" autocomplete="off">
								<p class="label">LANGUAGE2</p>
								<input type="text" name="meaning1" th:value="*{meaning1}"
									placeholder="word 1" class="createForm menuInput"
									maxlength="50" autocomplete="off"> <input type="text" name="meaning2"
									th:value="*{meaning2}" placeholder="word 2"
									class="createForm menuInput" maxlength="50" autocomplete="off"> <input
									type="text" name="meaning3" th:value="*{meaning3}"
									placeholder="word 3" class="createForm menuInput"
									maxlength="50" autocomplete="off">
								<button type="submit" id="doCreate" class="keep submitButton">カード作成</button>
							</div>
						</form>

						<!-- タグ追加用のform -->
						<form th:action="@{/vocabularyCard/createTag}" method="post"
							th:object="${tagData}" class="form">
							<div class="frameBorder">
								<input type="text" name="name" th:value="*{name}"
									placeholder="tag" class="createTagForm menuInput"
									maxlength="50" autocomplete="off">
								<div class="error" th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}" th:errorclass="red"></div>
								<button type="submit" id="doCreateTag" class="keep submitButton">タグ作成</button>
							</div>
						</form>

						<!-- 削除ボタン -->
						<button type="submit" form="checkDelete" id="deleteButton" class="submitButton">チェックした項目を削除</button>
					</div>

					<form method="post" th:action="@{/vocabularyCard/search}"
						th:object="${vocabularyCardQuery}" id="searchTag">
						<input type="hidden" th:value="*{searchTag}" name="searchTag"
							id="tagValue">
					</form>
					<form method="post" th:action="@{/vocabularyCard/delete}"
						id="checkDelete"></form>

					<!-- タグ表示及びタグ検索 jsでinputに上書き、各タグボタンをクリック時に送信 -->
					<div class="tagMenu displayNone">
						<div th:each="tag:${tagList}" class="tagList reset">
							<button th:text="${tag.name}" class="tag pointer"
								draggable="true" form="searchTag"></button>
							<input type="checkbox" class="check-delete-tag checkbox"
								name="deletedTagId" th:value="${tag.id}" form="checkDelete">
						</div>

						<!-- ドラッグアンドドロップで使用するカードid、タグ名送信用のフォーム -->

						<form method="post" th:action="@{/vocabularyCard/addTag}"
							id="addTag">
							<input type="hidden" name="cardId" id="addedCard"> <input
								type="hidden" name="draggedTag" id="addedTag">
						</form>
					</div>
					<div class="logMenu displayNone">
						<!-- 操作メッセージ -->
						<div class="message-container">
							<div th:if="${msg!=null}" class="message">
								<div th:if="${msg.msgType=='E'}" class="error">
									<span class="icon E">×</span> <span th:text="${msg.msgText}"></span>
								</div>
								<div th:if="${msg.msgType=='W'}" class="warnning">
									<span class="icon W">!</span><span th:text="${msg.msgText}"></span>
								</div>
								<div th:if="${msg.msgType=='I'}" class="information">
									<span class="icon I">i</span> <span th:text="${msg.msgText}"></span>
								</div>

							</div>
							<div class="message warnning displayNone" id="speechNotFound">
								<span class="icon W">!</span> <span>お使いのブラウザは音声読み上げに対応していません。</span>
							</div>
							<div id="voice">voice</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- カードの数だけ<div>を生成  タグには検索用フォームと関連付ける-->
		<div th:each="vc:${cardList}" class="card displayByPage">
			<div th:text="${vc.id}" class="id"></div>

			<div class="check-delete">
				<p class="No">
					<span>100</span>
				</p>
				<form th:action="@{/vocabularyCard/__${vc.id}__}" name="edit"
					method="post">
					<button class="editButton pointer keep" type="submit">編集</button>
				</form>
				<input type="checkbox" th:value="${vc.id}" name="deletedId"
					class="checkbox" form="checkDelete">
			</div>

			<section class="wordList">
				<p class="label">L1</p>
				<div class="L1">
					<div class="eachWord">
						<span th:text="${vc.spelling1}" class="L1hidden correct"
							id="spelling1"></span> <span
							class="L1writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L1Length"></span></span>
						<button class="check L1check">⇔</button>
						<button class="L1speakButton">再生</button>
						<br>
					</div>
					<div th:unless="${vc.spelling2.isEmpty()}" class="eachWord">
						<span th:text="${vc.spelling2}" class="L1hidden correct"
							id="spelling2"></span> <span
							class="L1writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L1Length"></span> </span>
						<button class="check L1check">⇔</button>
						<button class="L1speakButton">再生</button>
						<br>
					</div>
					<div th:unless="${vc.spelling3.isEmpty()}" class="eachWord">
						<span th:text="${vc.spelling3}" class="L1hidden correct"
							id="spelling3"></span> <span
							class="L1writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L1Length"></span> </span>
						<button class="check L1check">⇔</button>
						<button class="L1speakButton">再生</button>
					</div>
				</div>
				<p class="label">L2</p>
				<div class="L2">
					<div th:unless="${vc.meaning1.isEmpty()}" class="eachWord">
						<span th:text="${vc.meaning1}" class="L2hidden correct"></span> <span
							class="L2writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L2Length"></span></span>
						<button class="check L2check">⇔</button>
						<button class="L2speakButton">再生</button>
						<br>
					</div>
					<div th:unless="${vc.meaning2.isEmpty()}" class="eachWord">
						<span th:text="${vc.meaning2}" class="L2hidden correct"></span> <span
							class="L2writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L2Length"></span></span>
						<button class="check L2check">⇔</button>
						<button class="L2speakButton">再生</button>
						<br>
					</div>
					<div th:unless="${vc.meaning3.isEmpty()}" class="eachWord">
						<span th:text="${vc.meaning3}" class="L2hidden correct"></span> <span
							class="L2writeIn displayNone writeIn"><input type="text"
							placeholder=""><span class="L2Length"></span></span>
						<button class="check L2check">⇔</button>
						<button class="L2speakButton">再生</button>
					</div>
				</div>
			</section>

			<section class="tags">
				<button th:if="${vc.tag1!=null && vc.tag1!=''}" type="submit"
					th:text="${vc.tag1}" class="tag pointer" form="searchTag"></button>
				<br>
				<button th:if="${vc.tag2!=null && vc.tag2!=''}" type="submit"
					th:text="${vc.tag2}" class="tag pointer" form="searchTag"></button>
				<br>
				<button th:if="${vc.tag3!=null && vc.tag3!=''}" type="submit"
					th:text="${vc.tag3}" class="tag pointer" form="searchTag"></button>
			</section>

			<div class="float-end"></div>
		</div>
		<br>
	</div>
	<!-- 言語設定を保存するためのフォーム -->
	<form th:action="@{/vocabularyCard/setLang}" method="post" id="setLang" class="displayNone">
		<input name="lang1"><div th:text="${lang1}" id="preLang1"></div><input
			name="lang2"><div th:text="${lang2}" id="preLang2"></div><input name="voicename">
			<div th:text="${preVoicename}" id="preVoicename"></div>
	</form>
	<footer>
		<ul class="footerMenu">
			<li><a th:href="@{/logout}">ログアウト</a></li>
			<li><a th:href="@{/vocabularyCard/operation}" class="keep">つかいかた</a></li>
		</ul>

		<ul class="navi">
		<li id="scrollTop" class="pointer">↑</li>
		<li id="scrollBottom" class="pointer">↓</li>
		</ul>
		<div class="float-end"></div>
		<div class="copyright">© 2021 KMTS</div>
	</footer>

	<script th:src="@{/js/vocabularyCard.js}"></script>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}">
<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
</html>