@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
::-webkit-scrollbar{
	display:none;
}
a{
	display:inline;
}
.bold{
	color:#FF8C00;
	font-weight: bold;
}
button{
	border:none;
	border-radius:10px;
}
#cardList{
	margin-top:200px;;
	margin-bottom:30px;
}
.card{
	margin-bottom:100px;
	/*１枚目のカードの下に空白ができるのを防ぐため。
	floatした親要素(.wordの親要素)の高さが未確定になるため、空白が生じる。*/
	overflow: hidden;
	width:100vw;
}
.center{
	text-align:center;
}
.check{
	background-color:#c4d7e7;
	padding:5px;
}
.checkbox{
	height:18px;
	margin-right:10px;
	vertical-align:middle;
	width:18px;
}
.check-delete{
	margin-top:2vmin;
	text-align: right;
}
.check-delete-tag{
    float:right;
    left:0;
    margin:auto;
    position:absolute;bottom:0;
	top:0;
}
.container{
	box-sizing: border-box;
	min-height:100vmin;
	padding-bottom:50vmin;
	position:absolute; /*footerにcontainerが重ならないようにするため*/
}
.copyright{
	bottom:0;
	color:black;
	font-size:10px;
	left:0;
	position:fixed;
	text-shadow:none;
}
#deleteButton{
	display: block;
	margin-bottom:2vmin;
	margin-right:auto;
	margin-left:auto;
}
.displayByPage{
	display:none;
}
#displaying{
	color:#000055;
	font-size:16px;
	text-decoration:underline 1px #000055;
	margin:0 auto 0 auto;
	width:fit-content;
}
.displayNone{
	display:none;
}
.E{
	color:red;
	font-weight:bold;
	text-shadow:black 1px 1px 0px,black -1px -1px 0px,black -1px 1px 0px,black 1px -1px 0px,black 0px 1px 0px,black 0px -1px 0px,black -1px 0px 0px,black 1px 0px 0px;
}
.eachWord{
	padding-bottom: 2vmin;
	padding-top: 2vmin;
}
.editButton{
	display:inline-block;
	font-size:12px;
	height:40px;
	margin-right:10px;
	vertical-align:bottom;
	width:40px;
}
.edit-container{
	margin-top:10vh;
}
.editForm{
	display:inline;
}
.editedTag{
	background-color: #FF8C00;
	border-radius:20px;
	font-size:16px;
	height:5vmin;
	margin-bottom:10px;
	margin-left:3vmax;
	overflow-wrap:break-word;
	text-align:center;
	width:18vmax;
}
.editedTags{
	margin-top:2vmin;
	width:18vmax;
}
.editMenu{
	clear:left;
	left:0;
	margin-left:3vmax;
	width:50vmax;
}
.editMenu>button{
	background-color:#c4d7e7;
	padding:5px;
}
.error{
	background-color:rgb(255, 181, 218);
	border-radius:40px;
	display:table;
}
.errorMsg{
	font-size:12px;
}
.feature{
	color:black;
	font-size:18px;
	padding-left:5vmax;
}
.fixed{
	position:fixed;
}
.flashCardButton{
	border-left:solid 1px #000055;
	border-right:solid 1px #000055;
	height:8vmin;
	margin-left:1.5vmax;
	margin-right:auto;
	margin-top:4vmin;
	width:5vmax;
}
#flashL1{
    cursor:pointer;
    text-align:center;
}
#flashL2{
	cursor:pointer;
	text-align:center;
}
.floatCancel{
	float:none;
}
.float-container{
	width:100vw;
	z-index:100;
}
.float-end{
	clear:both;
}
footer{
	background-color:#F5F5F5;
	bottom:0;
	color:#FF8C00;
	height: 60px;
	padding-top:20px;
	position:fixed;
	width:100%;
	z-index:120;
}
.footerMenu{
	display:inline;
}
.footerMenu>li{
	display:inline;
	padding-right: 1vmax;
	padding-left: 1vmax;
}
.footerMenu>li>a{
	color:inherit;
	text-decoration: none;
}
.form{
	align-content: center;
	background-color:#F5F5F5;
	box-shadow: 5px 0px 5px #999999, 0px 5px 5px #999999, -5px 0px 5px #999999, 0px -5px 5px #999999;
	box-sizing:border-box;
	margin-top:2vmin;
	margin-bottom: 2vh;
	margin-right:auto;
	margin-left:auto;
	width:15vmax;
}
.formTitle{
	color:#FF8C00;
	font-size:30px;
	text-align:center;
	margin-bottom:20px;
	margin-top:100px;
}
.frameBorder{
	border: solid 3px #000055;
	box-sizing: border-box;
}
.gif{
	border:solid 5px #FF8C00;
	height:auto;
	margin-top:3vmin;
	width:50vmax;
}
#gifDisplay{
	background-color:#F5F5F5;
	border:solid 3px black;
	float:right;
	font-size:16px;
	height:85vmin;
	margin:5vmin 5vmax 0px 0px;
	padding:5vmin 5vmax 5vmin 5vmax;
	width:60vmax;
}
.gifSpace>ol{
	list-style-type: none;
}
.gifSpace>ol>li{
	padding-bottom:1vmin;
	padding-top:1vmin;
}
.gifSpace>ul{
	list-style-type:none;
}
.gifSpace>ul>li{
	padding-bottom:1vmin;
	padding-top:1vmin;
}
.gray{
	color:#F5F5F5;
}
.guide{
	background-color:#F5F5F5;
	box-sizing: border-box;
	margin-bottom:2vmin;
	margin-top:2vmin;
}
h3{
	color:black;
	font-size:20px;
}
#header{
	background-color: #F5F5F5;
	padding-bottom:20px;
	position:fixed;
	width:100%;
	z-index:100;
}
.headerButton{
	background-color:#c4d7e7;
	border:none;
	border-radius:10px;
	font-size:12px;
	padding:5px;
	text-align:center;
	text-decoration:none;
	width:10vmax;
}
.headerMenu{
	padding-bottom:50px;
	text-align:center;
	width:100%;
}
.headerMenuInner{
	height:10vmin;
	width:100%;
}
#heading{
	color:#000055;
	font-size:16px;
	padding-right:2vmax;
	text-align:right;
}
.hidden{
	color: #F5F5F5;
	text-decoration: underline 0px;
}
.toggleMenu{
	background-color: #c4d7e7;
	border-radius: 10px;
	color:white;
	font-size:24px;
	margin:0 0 0 auto;
	width:fit-content;
}
.holder{
	background-color:#F5F5F5;
	margin-left:20px;
}
.holderName{
	display:inline-block;
	margin-bottom:5px;
	padding:5px;
}
.I{
	background-color:#000055;
	border-radius: 50%;
	color:white;
	font-weight:bold;
}
.icon{
	display:inline-block;
	font-size:25px;
	height:30px;
	text-align: center;
	width:30px;
}
.id{
	display:none;
}
.img-container{
	text-align:center;
}
.indexButton{
	background-color:#c4d7e7;
	border:none;
	border-radius:10px;
	color:black;
	font-size:12px;
	height:8vmin;
	padding:5px;
	text-decoration:none;
}
.information{
	background-color:rgb(164, 165, 219);
	border-radius:40px;
	display:table;
}
.inlineBlock{
	display:inline-block;
}
input{
	background-color:#F5F5F5;
	font-size:16px;
	border-left:none;
	border-right:none;
	border-top:none;
}
.intoHolder{
	display:inline;
	font-size:20px;
	padding:5px;
	background-color:#c4d7e7;
}
.L1hidden{
	text-decoration: underline 1px #000055;
}
.L2hidden{
	text-decoration: underline 1px #000055;
}
#L1lang{
	margin-bottom:2vmin;
}
#L2lang{
	margin-bottom:2vmin;
}
.L1Length{
	border-bottom: none;
	font-size:12px;
	text-decoration:#F5F5F5 ;
}
.L2Length{
	border-bottom: none;
	font-size:12px;
	text-decoration:#F5F5F5 ;
}
.label{
	background-color:#000055;
	color:#F5F5F5;
	font-size:8px;
	margin:0px;
}
#lang-container{
	margin-top:2vmin;
}
#lang-container>select{
	background-color:#F5F5F5;
	border-color: #000055;
	border-left:none;
	border-right:none;
	border-top:none;
	width:14vmax;
}
.login{
	font-size:15px;
	margin-left:2vmax;
}
.loginButton{
	margin-left:auto;
	margin-right:auto;
	width:40vmax;
	display:block;
}
.loginForm{
	margin-left:auto;
	margin-right:auto;
}
.loginInput{
	font-size:12px;
	height:10vmin;
	width:40Vmax;

}
#logo{
	border-radius:50%;
	height:30px;
	width:30px;
}
#logout{
	display:none;
}
.classMenuButton{
	float:right;

}
.marginAuto{
	margin-left:auto;
	margin-right:auto;
}
/*.menu{
	box-sizing: border-box;
	clear:right;
	height:75vmin;
	overflow:scroll;
	top:0;
	scrollbar-width:none;
	-ms-overflow-style:none;
}*/
.menuBorder{
	border:3px solid black;
}
.menuButton{
	box-sizing: border-box;
	color:#FF8C00;
	float:left;
	font-size:20px;
	text-align: center;
	text-decoration:none;
	/*display:inline-block;*/ /*If adopt float, inline-block doesn't work.*/
	width:5.8vmax;
}
.menu-container{
	-ms-overflow-style:none;
	background-color: #F5F5F5;
	box-sizing: border-box;
	clear:right;
	margin-top:15vmin;
	overflow:scroll;
	position:fixed;
	scrollbar-width:none;
	top:0;
	width:100vw;
	z-index:110;
}
.menuIcon{
	border-radius:50%;
	display:block;
	height:40px;
	margin-left:30px;
	margin-top:15px;
	width:40px;
}
.menuIcon:hover{
	transform:scale(1.2,1.2);
}

.menuInput{
	width:13vmax;
}
.message{
	border-radius:40px;
	color:black;
	font-size: 12px;
    margin-top:10px;
}
.message-container{
	height:10vmin;
}
#movedTag{
	text-align: center;
	z-index:110;
}
.navi{
	display:inline;
	float:right;font-size:15px;
	justify-content:center;
	list-style: none;
	right:0;
}
.navi >li{
	background-color:#c4d7e7;
	border-radius:10px;
	display:inline-block;
	margin-left:3px;
	margin-right:3px;
	padding: 5px;
}
.navy{
	color:#000055;
}
.No{
	color:#000055;
	font-size:12px;
}
.opacity{
	opacity:0;
}
.opacity03{
	opacity:0.3
}
#operation-container{
	background-color:#F5F5F5;
	color:#000055;
	float:left;
	font-size:20px;
	margin:5vmin 5vmax 5vmin 5vmax;
	width:25vmax;
}
#operation-container>h3{
	padding:1vmin 1vmax 1vmin 1vmax;
}
.operationMenu>a{
	display:block;
	margin-left:1.5vmax;
	margin-right:auto;
	margin-top:4vmin;
}
.orange{
	color:#FF8C00;
}
.pointer{
	cursor:pointer;
}
.pointer:hover{
	opacity:0.7;
}
.red{
	color:red;
}
.sampleCard{
	float:right;
	margin-right:2vmax;
}
#sampleCard-container{
	float:right;
}
.sample-container{
	background-color:rgb(255, 255, 180);
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-top:8vmin;
}
.sampleForm{
	background-color:#F5F5F5;
	margin-left:1.5vmax;
}
.sampleMenu{
	float:left;
	margin-right:4vmax;
	min-height:60vmin;
}
.sampleText{
	color:#000055;
	display:inline-block;
	font-size:20px;
	width:auto;
}
/*.sampleWordList{
	background-color: #F5F5F5;
	border:3px solid black;
	font-size:20px;
	margin-bottom: 2vmin;
	margin-right:10vmax;
	margin-top: 2vmin;
	width:45vmax;
	z-index:90;
}*/
.sampleWordList{
	background-color:#F5F5F5;
	border: solid black;
	font-size:20px;
	height:auto;
	margin-bottom: 2vmin;
	margin-left:3vmax;
	margin-top: 2vmin;
	text-align:left;
	width:50vmax;
}
#screen{
	display:block;
	margin:15vh auto 0 auto;
	width:60%;
}
select{
	font-size:16px;
}
.selected{
	background-color: #F5F5F5;
}
.separator{
	background-color:#F5F5F5;
	height:5px;
	width:5vmax;
}
.speaker{
	display:inline-block;
	border-radius:10px;
	width:5vmin;
}
#speech-container{
	margin-top:1vmin;
}
.submitButton{
	background-color:#c4d7e7;
	border-radius:10px;
	font-size:14px;
	padding:5px;
	margin:5px;
}
table{
	color:#FF8C00;
	font-size:15px;
	margin-top:1vmin;
}
.tag{
	background-color: #FF8C00;
	font-size: 15px;
	margin-right:5px;
	overflow-wrap:break-word;
	padding:5px;
	width: fit-content;
}
.tagList{
	display:block;
	margin-bottom:1vmin;
	margin-left:1vmax;
	padding-left:1.5vmax;
  	position:relative;
}
.tagList>.tag{
  	bottom:0;
  	left:0;
  	margin:auto;
  	margin-bottom:0;
  	margin-left:1vmax;top:0;
}
.tagMenu{
	background-color:#F5F5F5;
}
.tagMenuButton{
	border-left:solid 3px #F5F5F5;
	border-right:solid 3px #F5F5F5;
}
.tags{
	margin-left: auto;
	margin-right:auto;
	padding-top:10px;
	width: 45vmax;
}
.tagSwitchButton{
	height:40px;
	width:40px;
}
td>input{
	font-size:20px;
	height:5vmin;
	border-left:none;
	border-right:none;
	border-top:none;
	width:45vmax;
}
#terms-container{
	padding:4vmin 5vmax 4vmin 5vmax;

}
#terms-container>ol{
	margin-left:3vmax;
}
#terms-container>ol>li>ol{
	margin-left:3vmax;
}
#termsOfService{
	background-color:#F5F5F5;
	margin-left:auto;
	margin-right:auto;
	width:70vmax;
}
.textForMobile{
	display:none;
	height:16px;
}
.title{
	font-size:20px;
	margin-left: 10px;
	text-decoration:none;
}
.title-container{
	background: linear-gradient(#000055,#ffffff);
	display:table;
	height:100vh;
	width:100%;
}
.titleST{
	color:white;
	display:table-cell;
	text-align:center;
	text-decoration: none;
	font-size:20px;
	text-shadow:#FF8C00 1px 1px 0px,#FF8C00 -1px -1px 0px,#FF8C00 -1px 1px 0px,#FF8C00 1px -1px 0px,#FF8C00 0px 1px 0px,#FF8C00 0px -1px 0px,#FF8C00 -1px 0px 0px,#FF8C00 1px 0px 0px;
	vertical-align: middle;
}
.titleST-container{
	background-color:#000055;
	display:table;
	height:8vmin;
	width:100%;
}
.titleText{
	color:white;
	font-size:16px;
	padding:20px;
}
.topic{
	color:#000055;
	padding-left:4vmax;
}
.topic-container{
	border-radius: 10%/30%;
	color:#FF8C00;
	margin-top:3vmin;
	font-family:serif;
	font-size:25px;
}
.topic-containerB{
	font-size:18px;
	margin-bottom:10vmin;
}
.topText{
	color:rgb(15, 15, 26);
	float:left;
	font-size:20px;
	font-weight:bold;
}
.unselected{
	background-color:#000055;
}
.valign{
	font-size:inherit;
	text-align: center;
	vertical-align: top;
}
#volume{
	margin-top:1.5vmin;
	width:8vmax;
}
#volume-container{
	margin:1vmin;
}
.W{
	background-color:rgb(248, 217, 1);
	border-radius: 50%;
	color:black;
	font-weight:bold;
}
.warnning{
	background-color:rgb(255, 255, 128);
	border-radius:40px;
	/*display:table;*/
}
.white{
	color:white;
}
.writeIn>input{
	font-size:20px;
	border-left:none;
	border-right:none;
	border-top:none;
	width:35vmax;
}
.writeIn>input::placeholder{
	color:#FF8C00;
}
.wordForm{
	background-color:#F5F5F5;
	border: solid black;
	border-radius:20px;
	font-size:20px;
	height:auto;
	margin-bottom: 10px;
	margin-left:3vmax;
	margin-top: 2vmin;
	text-align:left;
	width:50vmax;
}
.wordList{
	background-color: #F5F5F5;
	box-shadow: 5px 0px 5px #999999, 0px 5px 5px #999999, -5px 0px 5px #999999, 0px -5px 5px #999999;
	font-size:20px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 2vmin;
	width:45vmax;
	z-index:90;
}
.dropOpacity{
	z-index:100;
}

@media screen and (max-width:480px){
	button{
		-webkit-appearance:none;
	}
	.card{
		margin-left:auto;
		margin-right:auto;
		padding-right:0px;
		width:100vmin;
	}
	.check-delete{
		width:13vmin;
	}
	.container{
		min-height:100vmax;
		padding-bottom:50vmax;
	}
	.editButton{
		font-size:16px;
	}
	.editedTag{
		font-size:16px;
		height:5.5vmax;
		margin-bottom:0.3vmax;
		width:40vmin;
	}
	.editedTags{
		margin-left:2vmin;
		margin-top:0px;
		width:40vmin;
	}
	.editMenu{
		left:0;
		margin-left:2vmin;
		margin-right:auto;
		padding-top:3vmax;
		width:70vmin;
	}
	.editMenu>button{
		font-size:16px;}
	.errorMsg{
		font-size:8px;
	}
	.feature{
		font-size:12px;
	}
	.fixed{
		position:relative;
	}
	.flashCardButton{
		height:8.5vmax;
		width:25vmin;
	}
	.float-container{
		position:fixed;
		right:0;
		width:80vmin;
	}
	.footerMenu{
		float:left;
		font-size:16px;
	}
	.footerMenu>li{
		display:inline-block;
		padding-bottom:1vmax;
	}
	.form{
		font-size:16px;
		width:70vmin;
	}
	.gif{
		border:solid 5px #FF8C00;
		height:auto;
		margin-top:2vmax;
		width:90vmin;
}
	#gifDisplay{
		background-color:#F5F5F5;
		border:solid 3px black;
		float:none;
		font-size:16px;
		height:auto;
		margin:0vmax auto 0vmax auto;
		padding:0vmax 0vmin 5vmax 0vmin;
		width:95vmin;
	}
	.gifSpace>ul{
		padding-left:4vmin;
	}
	.gifSpace>ul>li{
		padding-bottom:1vmax;
		padding-top:1vmax;
	}
	.gifSpace>ol{
		padding-left:4vmin;
	}
	.gifSpace>ol>li{
		padding-bottom:1vmax;
		padding-top:1vmax;
	}
	.guide{
		margin-top:0;
	}
	h3{
		font-size:18px;
	}
	#header>.logout{
		display:none;
	}
	.headerMenu{
		padding-bottom:0px;
		padding-top: 40px;
	}
	#heading{
		margin-right:0px;
		text-align:left;
	}
	.inlineBlock{
		display:block;
	}
	#L1lang{
		margin-bottom:3vmax;
	}
	#L2lang{
		margin-bottom:3vmax;
	}
	.L1Length{
		font-size:8px;
	}
	.L2Length{
		font-size:8px;
	}
	.label{
		font-size:12px;
	}
	#lang-container{
		margin-top:1.5vman;
	}
	#lang-container>select{
		width:65vmin;
	}
	.login{
		font-size:12px;
		margin-left:1vmin;
	}
	.loginButton{
		width:50vmin;
	}
	.login-container{
		font-size:12px;
		width:95vmin;
	}
	#loginFloat{
		float:none;
	}
	.loginInput{
		width:50vmin;
	}
	#logout{
		display:block;
		margin:20px auto 40px auto;
		width:35vmin;
	}
	.logout{
		display:none;
	}
	.menu{
		height:75vmax;
	}
	.menuButton{
		font-size:16px;
		height:4.5vh;
		width:25.8vmin;
	}
	.menu-container{
		border-radius: 0px 0px 30px 30px;
		height:100vmax;
		padding-bottom:80px;
		margin-top:0px;
	}
	.menuInput{
		height:24px;
		width:65vmin;
	}
	.menuForMobile{
		border-radius:10px;
		height:50px;
		position:fixed;
		right:0;
		width:50px;
		z-index:1000;
	}
	.menuForMobile>p{
		display:table-cell;
		vertical-align: middle;
	}
	.menuForSample{
		display:inline;
		float:right;
		width:10vmax;
	}
	#movedTag{
		border-radius:10px;
	}
	.navi >li{
		display:inline-block;
		font-size:16px;
		margin-left:8px;
	}
	#operation-container{
		background-color:#F5F5F5;
		color:#000055;
		float:none;font-size:20px;
		margin:2vmax 5vmin 2vmax 5vmin;
		width:70vmin;
	}
	#operation-container>h3{
		padding:1vmin 1vmax 1vmin 1vmax;
	}
	option{
		font-size:12px;
	}
	.sample-container{
		clear:both;
		margin-bottom:5vmax;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:5vmax;
		width:90vmin;
	}
	.sampleCard{
		clear:both;
		float:none;
		margin:auto;
		padding-top:3vmax;
	}
	.sampleMenu{
		float:none;
		margin-bottom:5vmax;
		margin-right:0px;
		min-height:auto;
	}
	.sampleText{
		font-family:serif;
		font-size:20px;
	}
	/*.sampleWordList{
		font-size:16px;
		margin-bottom: 2vmax;
		margin-right:20vmin;
		margin-top: 2vmax;width:50vmin;
		z-index:90;
	}*/
	.sampleWordList{
		font-size:16px;
		margin-bottom:0px;
		margin-left:auto;
		margin-right:auto;
		width:80vmin;
	}
	#screen{
		width:80vw
	}
	select{
		font-size:16px;
	}
	.speaker{
		width:5vmax;
	}
	.tag{
		font-size:16px;
	}
	.tagList{
		margin-bottom:2vmax;
	}
	.tagList>.tag{
		margin-left:4vmin;
	}
	.tags{
		margin-left:20px;
	}
	td>input{
		font-size:16px;
		height:3vmax;
		width:70vmin;
	}
	#terms-container{
		padding:2vmax 5vmin 2vmax 5vmin;
	}
	#terms-container>ol{
		margin-left:5vmin;
	}
	#terms-container>ol>li>ol{
		margin-left:5vmin;
	}
	#termsOfService{
		margin-left:auto;
		margin-right:auto;
		width:90vmin;
	}
	.textForMobile{
		display:inline-block;
	}
	.toggleMenu{
		display:none;
	}
	.topic-container{
		font-size:16px;
		margin-top:1vmax;
		width:90vmin;
	}
	.topic-containerB{
		font-size:12px;
		margin-bottom:5vmax;
	}
	.toptext{
		width:90vmin;
	}
	.valign{
		font-size:8px;
	}
	#volume{
		width:40vmin;
	}
	.wordForm{
		margin-left:2vmin;
		margin-right:auto;
		width:85vmin;
	}
	.wordList{
		font-size:16px;
		margin-bottom:0px;
		margin-left: auto;
   		margin-right: auto;
		width:90vmin;
	}
	.writeIn>input{
		width:50vmin;
	}
}
