@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
a{
	display:inline;
}
.pointer{
	cursor:pointer;
}
.pointer:hover{
	opacity:0.7;
}
input{
	font-size:16px;
}
#termsOfService{
	width:70vmax;
	margin-right:auto;
	background-color:#F5F5F5;
}
#terms-container{
	padding:4vmin 5vmax 4vmin 5vmax;
}
#terms-container>ol{
	margin-left:3vmax;
}
#terms-container>ol>li>ol{
	margin-left:3vmax;
}
.errorMsg{
	font-size:12px;
}
.titleST-container{
	background-color:#000055;
	width:100%;
	height:8vmin;
	display:table;
}
.titleST{
	color:white;
	font-size:20px;
	text-shadow:#FF8C00 1px 1px 0px,#FF8C00 -1px -1px 0px,#FF8C00 -1px 1px 0px,#FF8C00 1px -1px 0px,#FF8C00 0px 1px 0px,#FF8C00 0px -1px 0px,#FF8C00 -1px 0px 0px,#FF8C00 1px 0px 0px;
	text-decoration: none;
	text-align:center;
	vertical-align: middle;
	display:table-cell;
}
.title-container{
	background-color:#000055;
	width:100%;
	height:8vmin;
	display:table;
}
.title{
	color:#FF8C00;
	font-size:20px;
	text-shadow:white 1px 1px 0px,white -1px -1px 0px,white -1px 1px 0px,white 1px -1px 0px,white 0px 1px 0px,white 0px -1px 0px,white -1px 0px 0px,white 1px 0px 0px;
	text-decoration: none;
	text-align:center;
	vertical-align: middle;
	display:table-cell;
}
.container{
	min-height:100vmin;
	position:relative;
	padding-bottom:50vmin;
	box-sizing: border-box;
}
.float-container{
	float:left;
	width:18vmax;
	margin-left:2vmax;
}
.frameBorder{
	border: solid 3px #000055;
	box-sizing: border-box;
}
.card{
	/*１枚目のカードの下に空白ができるのを防ぐため。
	floatした親要素(.wordの親要素)の高さが未確定になるため、空白が生じる。*/
	overflow: hidden;
	padding-right:16vmax;
}
.menuBorder{
	border:3px solid black;
}
.guide{
	background-color:#F5F5F5;
	box-sizing: border-box;
	margin-top:2vmin;
	margin-bottom:2vmin;
}
.menu-container{
	background-color: #F5F5F5;
	box-sizing: border-box;
	width:inherit;
	position:fixed;
}
.menu{
	overflow:scroll;
	top:0;
	height:65vmin;
	-ms-overflow-style:none;
	scrollbar-width:none;
	box-sizing: border-box;
	clear:right;
}
::-webkit-scrollbar{
	display:none;
}
.menuButton{
	font-size:20px;
	color:#FF8C00;
	text-align: center;
	text-decoration:none;
	display:inline-block;
	width:8.5vmax;
	box-sizing: border-box;
}
.selected{
	background-color: #F5F5F5;
}
.unselected{
	background-color:#000055;
}
.operationMenuButton{
	float:left;
}
.tagMenu{
	padding-top:5vmin;
	margin-left:1vmax;
}
.tagMenuButton{
	float:right;
}
#volume{
	width:8vmax;
}
.speaker{
	width:5vmin;
}
#lang-container{
	margin-top:2vmin;
}
#lang-container>select{
	border-top:none;
	border-right:none;
	border-left:none;
	background-color:#F5F5F5;
	border-color: #000055;
}
#hint{
	font-size:20px;
	color:#FF8C00;
	border:solid 3px #000055;
	background-color:#000055;
	border-radius:10px;
	margin-top:4vmin;
	margin-left:1.5vmax;
	margin-right:auto;
	width:5vmax;
	text-align: center;
}
.message-container{
	height:10vmin;
}
.message{
    margin-top:10px;
    display:inline-block;
    color:black;
	font-size: 12px;
	border-radius:40px;
}
.icon{
	display:inline-block;
	font-size:25px;
	height:30px;
	width:30px;
	text-align: center;
}
.E{
	color:red;
	font-weight:bold;
	text-shadow:black 1px 1px 0px,black -1px -1px 0px,black -1px 1px 0px,black 1px -1px 0px,black 0px 1px 0px,black 0px -1px 0px,black -1px 0px 0px,black 1px 0px 0px;
}
.W{
	font-weight:bold;
	color:black;
	border-radius: 50%;
	background-color:rgb(248, 217, 1);
}
.I{
	font-weight:bold;
	color:white;
	background-color:#000055;
	border-radius: 50%;
}
.error{
	background-color:rgb(255, 181, 218);
	border-radius:40px;
	display:table;
}
.warnning{
	background-color:rgb(255, 255, 128);
	border-radius:40px;
	display:table;
}
.information{
	background-color:rgb(164, 165, 219);
	border-radius:40px;
	display:table;
}
.login-container{
	margin-right:auto;
	margin-left:auto;
	width:90vmax;
}
#loginFloat{
	float:right;
}
.login{
	font-size:15px;
}
.loginInput{
	width:20vmax;
}
.topPage{
	float:left;
	margin-top:8vmin;
	background-color:rgb(255, 255, 180);
}
.sampleText{
	width:auto;
	font-size:20px;
	color:#FF8C00;
	background-color: #F5F5F5;
	display:inline-block;
	border-radius:10%/30%;
}
.topText{
	font-size:20px;
	font-weight:bold;
	color:rgb(15, 15, 26);
	float:left;
}
.topic-container{
	color:#FF8C00;
	font-size:25px;
	margin-top:3vmin;
	border-radius: 10%/30%;
	font-family:serif;
}
.topic{
	color:#000055;
	padding-left:4vmax;
}
.sampleWordList{
	width:45vmax;
	background-color: #F5F5F5;
	font-size:20px;
	border:3px solid black;
	margin-bottom: 2vmin;
	margin-top: 2vmin;
	z-index:90;
}
.sampleMenu{
	float:left;
	margin-right:4vmax;
	min-height:60vmin;
}
.sampleCard{
	padding-top:10vmin;
}
.feature{
	color:black;
	font-size:18px;
	padding-left:5vmax;
}
.operationMenu>a{
	margin-top:4vmin;
	margin-left:1.5vmax;
	margin-right:auto;
	display:block;
}
.flashCardButton{
	margin-top:4vmin;
	margin-left:1.5vmax;
	margin-right:auto;
	width:5vmax;
	height:8vmin;
	border-right:solid 1px #000055;
	border-left:solid 1px #000055;
}
.separator{
	width:5vmax;
	height:5px;
	background-color:#F5F5F5;
}
.form{
	width:15vmax;
	margin-top:2vmin;
	margin-bottom: 2vh;
	margin-right:auto;
	margin-left:auto;
	box-sizing:border-box;
	align-content: center;
}
.menuInput{
	width:13vmax;
}
.No{
	font-size:12px;
	color:#000055;
}
.wordList{
	float: right;
	width:45vmax;
	background-color: #F5F5F5;
	font-size:20px;
	border:3px solid black;
	margin-bottom: 2vmin;
	margin-top: 2vmin;
	z-index:90;
}
.label{
	background-color:#000055;
	color:#F5F5F5;
	margin:0px;
	font-size:8px;
}
#deleteButton{
	display: block;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2vmin;
}
.check-delete{
	float:right;
	margin-top:2vmin;
	text-align: right;
}
.check-delete-tag{
	position:absolute;
	top:0;
    bottom:0;
    left:0;
    margin:auto;
}
.checkbox{
	height:16px;
	width:16px;
}
.editButton{
	font-size:12px;
}
.check-delete-tag{
	float:left;
}
.float-end{
	clear:both;
}
.tags{
	width:10vmax;
	float:right;
	padding-top: 2vmin;
	font-size:0px;
}
.tag{
	width: 10vmax;
	background-color: #FF8C00;
	margin-bottom: 2vmin;
	font-size: 15px;
	overflow-wrap:break-word;
}
.tagList{
	margin-left:1vmax;
	display:block;
  	position:relative;
  	padding-left:1.5vmax;
  	margin-bottom:1vmin;
}
.tagList>.tag{
	top:0;
  	bottom:0;
  	left:0;
  	margin-bottom:0;
  	margin:auto;
  	margin-left:1vmax;
}
.wordForm{
	height:auto;
	width:50vmax;
	background-color:#F5F5F5 ;
	font-size:20px;
	margin-left:3vmax;
	margin-bottom: 2vmin;
	margin-top: 2vmin;
	text-align:left;
	border: solid black;
	float:left;
}
.editedTags{
	width:18vmax;
	margin-top:2vmin;
	float:left;
}
.editedTag{
	width:18vmax;
	font-size:16px;
	height:5vmin;
}
.editMenu{
	width:50vmax;
	margin-left:3vmax;
	left:0;
	clear:left;
}
input{
	background-color:#F5F5F5;
	border-top:none;
	border-left:none;
	border-right:none;
}
.writeIn>input{
	font-size:20px;
	width:38vmax;
	border-top:none;
	border-left:none;
	border-right:none;
}
.writeIn>input::placeholder{
	color:#FF8C00;
}
td>input{
	width:45vmax;
	height:5vmin;
	font-size:20px;
	border-top:none;
	border-left:none;
	border-right:none;
}
.id{
	display:none;
}

.navi{
	float:right;
	right:0;
	display:inline;
	list-style: none;
	justify-content:center;
	font-size:15px;
}
.navi >li{
	display:inline-block;
	padding-right: 1vmax;
	padding-left: 1vmax;
}
.displayNone{
	display:none;
}
footer{
	color:#FF8C00;
	width:100%;
	position:fixed;
	bottom:0;
	height: 6vmin;
	background-color:#000055;
	text-shadow:white 1px 1px 0px,white -1px -1px 0px,white -1px 1px 0px,white 1px -1px 0px,white 0px 1px 0px,white 0px -1px 0px,white -1px 0px 0px,white 1px 0px 0px;
	padding-top:-3vmin;
}
.footerMenu{
	display:inline;
}
.footerMenu>li{
	display:inline;
	padding-right: 1vmax;
	padding-left: 1vmax;
}
.footerMenu>li>a{
	color:inherit;
	text-decoration: none;
}
.pageNumber{
	padding-top:1vmin;
}
.login{
	margin-left:2vmax;
}
.valign{
	vertical-align: top;
	text-align: center;
	font-size:inherit;
}
table{
	background-color: #000055;
	color:#FF8C00;
	font-size:15px;
	margin-top:1vmin;
}
h3{
	color:black;
	font-size:20px;
}
.eachWord{
	padding-bottom: 2vmin;
	padding-top: 2vmin;
}
#flashL1{
    cursor:pointer;
    text-align:center;
}
#flashL2{
	cursor:pointer;
	text-align:center;
}
.hidden{
	color: #F5F5F5;
	text-decoration: underline 0px;
}
.L1hidden{
	text-decoration: underline 1px #000055;
}
.L2hidden{
	text-decoration: underline 1px #000055;
}
.displayByPage{
	display:none;
}
.L1Length{
	font-size:12px;
	border-bottom: none;
	text-decoration:#F5F5F5 ;
}
.L2Length{
	font-size:12px;
	border-bottom: none;
	text-decoration:#F5F5F5 ;
}
.red{
	color:red;
}
#movedTag{
	text-align: center;
	z-index:110;
}
@media screen and (max-width:480px){
	.title-container{
	height:8vmax;
	}
	.errorMsg{
		font-size:8px;
	}
	.float-container{
		right:0;
		position:fixed;
		width:80vmin;
	}
	.loginInput{
	width:50vmin;
	}
	#termsOfService{
	width:90vmin;
	margin-right:auto;
	margin-left:auto;
	}
	#terms-container{
	padding:2vmax 5vmin 2vmax 5vmin;
	}
	#terms-container>ol{
	margin-left:5vmin;
	}
	#terms-container>ol>li>ol{
	margin-left:5vmin;
	}
	.guide{
	font-size:10px;
	margin-top:0;
	}
	.menuButton{
	font-size:16px;
	height:4.5vh;
	width:39vmin;
	}
	.menu{
	height:65vmax;
	}
	.menuInput{
	width:65vmin;
	}
	.flashCardButton{
	width:20vmin;
	height:8.5vmax;
	}
	#volume{
	width:40vmin;
}
#lang-container{
	margin-top:1.5vman;
}
	.tagList{
	margin-bottom:2vmax;
	}
	.tagList>.tag{
	margin-left:4vmin;
	}
	.tag{
	height:4vmax;
	font-size:10px;
	}
	.form{
	font-size:10px;
	width:70vmin;
	}
	button{
	font-size:10px;
	}
	.card{
	padding-right:0px;
	margin-left:1vmax;
	float:left;
	}
	.wordList{
		width:60vmin;
		font-size:16px;
	}
	.writeIn>input{
	width:43vmin;
	}
	.check{
	width:6vmin;
	}
	.L1Length{
	font-size:8px;
	}
	.L2Length{
	font-size:8px;}
	.tags{
		width:24vmin;
	}
	.tag{
	width:24vmin;
	font-size:8px;
	}
		.editButton{
	font-size:8px;
	}
	.menuForMobile{
		height:inherit;
		position:fixed;
		right:0;
		z-index:100;
	}
	.menuForMobile>p{
		display:table-cell;
		vertical-align: middle;
	}
	#hint{
	font-size:20px;
	width:15vmin;
	}
	.login{
	font-size:12px;
	}
	.valign{
	font-size:8px;
	}
	h3{
	font-size:12px;
	}
	td>input{
	width:45vmin;
	font-size:16px;
	height:3vmax;
	}
	.login-container{
	font-size:12px;
	}
	.wordForm{
	width:55vmin;
	margin-right:auto;
	margin-left:2vmin;
	}
	.editMenu{
	width:70vmin;
	margin-right:auto;
	margin-left:2vmin;
	left:0;
	}
	.editedTags{
	width:40vmin;
	margin-top:1vmax;
	}
	.editedTag{
	width:40vmin;
	font-size:16px;
	height:3vmax;
	}
	.label{
	font-size:6px;
	}
	footer{
	height:6vmax;
	padding-top:-3vmax;
	}
	.footerMenu{
	font-size:10px;}
}
