@charset "UTF-8";
h1{
    padding:10px;
	margin:0px;
	background-color: #000055;
	text-align:center;
}
.title{
	color:#FF8C00;
	font-size:20px;

	text-shadow:white 1px 1px 0px,white -1px -1px 0px,white -1px 1px 0px,white 1px -1px 0px,white 0px 1px 0px,white 0px -1px 0px,white -1px 0px 0px,white 1px 0px 0px;
	text-decoration: none;
}
.container{
	min-height:100vh;
	position:relative;
	padding-bottom:120px;

}
.frameBorder{
	border: solid 3px #000055;
}
.card{
	/*１枚目のカードの下に空白ができるのを防ぐため。
	floatした親要素(.wordの親要素)の高さが未確定になるため、空白が生じる。*/
	overflow: hidden;
	padding-right:100px;
}
.menu{
	border:3px solid black;
	text-decoration: underline 1px #000055;
	height:85vh;
	overflow-y:scroll;
	background-color:#F5F5F5;
	margin-top:10px;
	position:fixed;
	position:-webkit-sticky;
	position:sticky;
	top:0;
	width: 300px;
	float: left;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
::-webkit-scrollbar{
	display:none;
}
.message{
    margin-top:10px;
    display:inline-block;
    color:black;
	font-size: 12px;
	border-radius:40px;
}
.icon{
	display:inline-block;
	font-size:25px;
	height:30px;
	width:30px;
	text-align: center;
}
.E{
	color:red;
	font-weight:bold;
	text-shadow:black 1px 1px 0px,black -1px -1px 0px,black -1px 1px 0px,black 1px -1px 0px,black 0px 1px 0px,black 0px -1px 0px,black -1px 0px 0px,black 1px 0px 0px;
}
.W{
	font-weight:bold;
	color:black;
	border-radius: 50%;
	background-color:rgb(248, 217, 1);
}
.I{
	font-weight:bold;
	color:white;
	background-color:#000055;
	border-radius: 50%;
}
.error{
	background-color:rgb(255, 181, 218);
	border-radius:40px;
}
.warnning{
	background-color:rgb(255, 255, 128);
	border-radius:40px;
}
.information{
	background-color:rgb(164, 165, 219);
	border-radius:40px;
}
.flashCardButton{
	margin-left:10px;
	width:50px;
}
.separator{
	height:5px;
	background-color:#F5F5F5;
}
.form{
	width:200px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-sizing:border-box;
}
.menuInput{
	width:180px;
}
.wordList{
	float: right;
	width:600px;
	background-color: #F5F5F5;
	font-size:20px;
	border:3px solid black;

	margin-bottom: 10px;
	margin-top: 10px;
}
.label{
	background-color:#000055;
	color:#F5F5F5;
	margin:0px;
	font-size:12px;
	border-bottom: 3px solid black;
}
.check-delete{
	float:right;
	margin-top:10px;
	text-align: right;
}
.check-delete-tag{
	float:left;
}
.float-end{
	clear:both;
}
.tags{
	width:150px;
	float:right;
	padding-top: 10px;
	font-size:0px;
}
.tag{
	width: auto;
	background-color: #FF8C00;
	margin-bottom: 10px;
	font-size: 15px;
}
.wordForm{
	height:auto;
	width:600px;
	background-color:#F5F5F5 ;
	font-size:20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align:left;
	border: solid black;
}
.writeIn>input{
	background-color:#F5F5F5 ;
	font-size:20px;
	width:500px;
	border-top:none;
	border-left:none;
	border-right:none;
}
td>input{
	width:590px;
	height:40px;
	background-color:#F5F5F5 ;
	font-size:20px;
	border-top:none;
	border-left:none;
	border-right:none;
}
.id{
	display:none;
}

.navi{
	display:flex;
	list-style: none;
	justify-content:center;
	font-size:15px;
}
.navi >li{
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	color: black;

}
.displayNot{
	display:none;
}
.pageNumber{
	cursor:pointer;
}
footer{
	width:100%;
	text-align:center;
	position:fixed;
	bottom:0;
	height: 40px;
	background-color:#000055;
	text-shadow:white 1px 1px 0px,white -1px -1px 0px,white -1px 1px 0px,white 1px -1px 0px,white 0px 1px 0px,white 0px -1px 0px,white -1px 0px 0px,white 1px 0px 0px;
	padding-top:-10px;
}
.valign{
	vertical-align: top;
}
table{
background-color: #000055;
color:#FF8C00;
font-size:15px;
margin-top:30px;
}
h3{
	color:#FF8C00;
	font-size:20px;
}
button{
	cursor:pointer;
}
#flashL1{
    cursor:pointer;
    text-align:center;
}
#flashL2{
	cursor:pointer;
	text-align:center;
}
.hidden{
	color: #F5F5F5;
	text-decoration: underline 0px;
}
.hiddenL1{
	text-decoration: underline 1px #000055;
}
.hiddenL2{
	text-decoration: underline 1px #000055;
}
.displayNone{
	display:none;
}
.L1Length{
	font-size:12px;
	border-bottom: none;
	text-decoration:#F5F5F5 ;
}
.L2Length{
	font-size:12px;
	border-bottom: none;
	text-decoration:#F5F5F5 ;
}
.red{
	color:red;
}